.container-fluid {
  background: linear-gradient(30deg,#f7c9c9,#92a8d1);
}
.card-deck {
  margin: auto auto;
}

.card {
  border: none;
  border-radius: 50%;
  background-color: #778ca3;
  margin: 200px auto;
  float: center;
}

.card-img-bottom {
  margin: auto auto;;
}
