<!-- <div class="row">
    <div class="col-md-6">
      <div *ngFor="let mes of messages">
        <div class="mes-user" >{{mes.username}}: </label>
        <div class="mes-cont" >{{mes.content}}:{{mes.translate}}</label>    
      </div>
    </div>
</div>
<div class="row">
  <div class="col-md-8">
    <div class="bot-input input-group" >
      <input #InputMessage [(ngModel)]="message" type="text" class="form-control"  placeholder="说点什么..." (keyup.enter)="sendMessage(InputMessage.value)">
      <span class="input-group-addon">
        <button class="btn btn-primary" type="button" (click)="sendMessage(InputMessage.value)">发送</button>
      </span>
    </div>
  </div>
</div> -->

<div class="container-fluid">
  <div class="card text-center">
    <div class="card-header">
      聊天室
    </div>
    <div class="card-body">
      <div *ngFor="let mes of messages">
        <div class="row">
          <div class="float-left" style="display: inline-block;">{{mes.username}}: </div>
          <div class="alert alert-primary text-left float-left">{{mes.content}}</div>
          <div class="alert alert-secondary text-left float-left">{{mes.translate}}</div>    
        </div>
      </div>
    </div>
    <div class="card-footer">
      <div class="input-group" >
        <input #InputMessage [(ngModel)]="message" type="text" class="form-control"  placeholder="说点什么..." (keyup.enter)="sendMessage(InputMessage.value)">
        <span class="input-group-addon">
          <button class="btn btn-primary" type="button" (click)="sendMessage(InputMessage.value)">发送</button>
        </span>
      </div>
    </div>
  </div>
</div>
