.container-fluid {
  /* background-image:url(assets/sunshine.jpg); */
  background: linear-gradient(30deg,#f7c9c9,#92a8d1);
}

.card {
  margin: auto;
}

.scroll-box {
  overflow-y: scroll;
  height: 550px;
  padding: 1em;
}
