<!-- <div class="row">
  <div class="col-lg-4">
    <form>
      <fieldset class="form-group">
        <label for="InputNickname">请输入你在聊天室的昵称</label>
        <input #Nickname type="text" class="form-control" id="InputNickname" placeholder="昵称" >
      </fieldset>
      <button type="submit" (click)="setNickname(Nickname.value)" class="btn btn-primary" routerLink="/chatroom" >进入聊天室</button>
    </form>
  </div>
</div> -->

<div class="card text-center" style="background-image:url(assets/justBreathe.jpg);height: 800px;">
  <div class="card-body text-center">
    <h5 class="card-title text-center">breathe</h5>
    <div class="card bg-transparent" style="border: none;margin: 120px auto;">
      <div class="card-body bg-transparent">我的专属昵称</div>
      <div class="card-body">
        <input #Nickname type="text" class="inputNickname bg-transparent" id="InputNickname">
      </div>
      <div class="card-body">
        <button type="submit" (click)="setNickname(Nickname.value)" class="btn btn-lg btn-outline-dark"  routerLink="/match" >开始聊天</button>
      </div>
    </div>
  </div>
</div>
<!-- <div class="login">
  <div class="form">
    <h3 class="title">What's your nickname?</h3>
    <input class="usernameInput" type="text" maxlength="14" />
  </div>
</div> -->

